.vscode/**
.vscode-test/**
.github/**
out/src/test/**
test/**
src/**
node_modules/**
!node_modules/parse5/**
**/*.map
.gitignore
tsconfig.json
assets/image.png
eslint.config.js
.editorconfig
artifacts/**
scripts/**
